html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:  'Trebuchet MS', Helvetica, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

a {
  color: #135592;
}


h1 {
  font-size: 40px;
  margin: 10px 0 33px;
}

section {
  border: 2px solid #555;
  border-radius: 4px;
}

.post-on-list {
  border-bottom: 2px solid #555;
}


.post-on-list:last-child {
  border-bottom: none;
}

.content-with-picture {
  min-height: 100px;
}

.content-with-picture > div {
  padding: 0 20px 0 150px;
}

.post-data > * {
  margin-right: 10px;
}

.post-on-list h2 {
  font-size: 26px;
  padding: 20px 0 16px;
}


.post-on-list h2 a {
    text-decoration: none;
}

.content-with-picture picture {
  width: 150px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}

.content-with-picture picture img {
  max-width: 120px;
  max-height: 75px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #555;
}

.post h2 {
  font-size: 32px;
  padding: 16px 50px 20px 20px;
}

.post .post-data {
  padding: 0 20px 10px;
}

.post .description {
  padding-top: 10px;
}

.post .description p {
  display: none;
}

.post .description p:nth-child(3) {
  display: block;
}

.tags {
  margin-top: 10px;
}

.tags div {
  width: 50px;
  position: absolute;
}

.tags ul {
   margin: 0 0 0 60px;
}

.tags ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}

/* Responsive: 800px and up */
@media screen and (min-width: 800px) {

}
