body {
  font-family:  'Trebuchet MS', Helvetica, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin: 10px 0 30px;
}

.posts-list {
  border: 1px solid #000;
}

.posts-list article {
  border-bottom: 1px solid #555;
  overflow: hidden;
  height: 85px;
}

.posts-list article:last-child {
  border-bottom: none;
}

.posts-list article > div {
  display: inline-block;
  vertical-align: top;
}

.posts-list article picture {
  width: 120px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;

}

.posts-list article picture img {
  max-width: 120px;
  max-height: 85px;
  display: inline-block;
  vertical-align: middle;
}

.post .description p {
  display: none;
}

.post .description p:nth-child(3) {
  display: block;
}

/* Responsive: 800px and up */
@media screen and (min-width: 800px) {

}
