html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:  'Trebuchet MS', Helvetica, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

a {
  color: #135592;
}


h1 {
  font-size: 40px;
  margin: 10px 0 33px;
}

.posts-list, .post {
  border: 2px solid #555;
  border-radius: 4px;
}

.posts-list article {
  border-bottom: 2px solid #555;
  height: 100px;
}


.posts-list article:last-child {
  border-bottom: none;
}

.posts-list article > div {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-left: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-data > * {
  margin-right: 10px;
}

.posts-list h2 {
  font-size: 26px;
  padding: 20px 0 16px;
}

.post h2 {
  font-size: 32px;
  padding: 0 0 16px;
}

.posts-list article h2 a {
    text-decoration: none;
}

.posts-list article picture {
  width: 140px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}

.posts-list article picture img{
  max-width: 120px;
  max-height: 75px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #555;
}

.post {

}

.post .description p {
  display: none;
}

.post .description p:nth-child(3) {
  display: block;
}

/* Responsive: 800px and up */
@media screen and (min-width: 800px) {

}
