html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:  'Trebuchet MS', Helvetica, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

a {
  color: #135592;
}


h1 {
  font-size: 40px;
  margin: 10px 0 33px;
}

section {
  border: 2px solid #555;
  border-radius: 4px;
}

.post-on-list {
  border-bottom: 2px solid #555;
}


.post-on-list:last-child {
  border-bottom: none;
}

.content-with-picture {
  min-height: 100px;
}

.content-with-picture > div {
  padding: 0 30px 0 150px;
}

.post-data > * {
  margin-right: 10px;
}

.post-on-list h2 {
  font-size: 26px;
  padding: 20px 0 16px;
  color: #135592;
}


.post-on-list h2 a {
    text-decoration: none;
}

.post-on-list h2 a:hover {
    text-decoration: underline;
}

.post-on-list picture img:hover {
  border: 2px solid #135592;
  transform: scale(1.05);
}

.content-with-picture picture {
  width: 150px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}

.content-with-picture picture img {
  max-width: 120px;
  max-height: 75px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #555;
}

.post {
  position: relative;
}

.post h2 {
  font-size: 32px;
  padding: 16px 85px 20px 20px;
}

.post .post-data {
  padding: 0 20px 10px;
}

.post .description {
  padding-top: 10px;
  min-height: 100px;
}

.post .description p {
  display: none;
}

.post .description p:nth-child(3) {
  display: block;
}

.tags {
  padding: 10px 0 30px;
}

.tags div {
  width: 50px;
  position: absolute;
}

.tags ul {
   margin: 0 0 0 60px;
}

.tags ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.back {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  text-decoration: none;
  border: 2px solid #555;
  border-radius: 4px;
  padding: 4px 10px;
}

/* Responsive: below 800px */
@media screen and (max-width: 799px) {
  .published {
    position: absolute;
    left: 0;
    bottom: 22px;
  }

  .post-on-list .post-data {
    position: relative;
    margin-top: 26px;
  }

  .post-on-list h2 {
    padding: 12px 0 8px;
  }
}
