<article ng-repeat="item in feed.items">
  <picture>
    <a href="javascript:" ng-click="showPost(item)">
      <img src="{{ item.media.m }}"/>
    </a>
  </picture>
  <div>
    <a href="javascript:" ng-click="showPost(item)">{{item.title}}</a>
    <div>
      Published: {{ item.published | ordinalDate:"d MMMM yyyy 'at' H:mm" }}
    </div>
    <div>
      <a href="https://www.flickr.com/people/{{ item.author_id}}">Post author</a>
      <a href="{{ item.link }}">View on Flickr</a>
    </div>
  </div>
</article>
