<article class="post">
  <h2><a href="javascript:" ng-href="{{ post.link }}">{{ post.title }}</a></h2>
  <p class="post-data">
    <a href="{{ config.authorPageUrl | stringFormat:post.author_id }}">Post author</a>
    <span> | </span>
    <span> Published: {{ post.published | ordinalDate:"d MMMM yyyy 'at' H:mm" }} </span>
  </p>
  <div class="content-with-picture">
    <picture>
      <img src="{{ post.media.m }}"/>
    </picture>
    <div>
      <div ng-bind-html="post.description" class="description">
      </div>
      <div class="tags">
        <div>Tags:</div>
        <ul>
          <li ng-repeat="tag in post.tags">
            <a href="{{ config.searchPageUrl | stringFormat:tag }}">
              {{ tag }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <a href="#/" class="back">&lt; Back</a>
</article>
