<span ng-if="loading" class="animate-if">
  loading!!
</span>
<article ng-repeat="item in feed.items" class="post-on-list content-with-picture">
  <picture>
    <a href="javascript:" ng-click="showPost(item)">
      <img ng-src="{{ item.media.m }}"/>
    </a>
  </picture>
  <div class="content">
    <h2 class="truncate">
      <a href="javascript:" ng-click="showPost(item)">{{item.title}}</a>
    </h2>
    <div class="post-data">
      <a href="{{ config.authorPageUrl | stringFormat:item.author_id }}">Post author</a>
      <span class="published">
        Published: {{ item.published | ordinalDate:"d MMMM yyyy 'at' H:mm" }}
      </span>
      <a href="{{ item.link }}">View on Flickr</a>
    </div>
  </div>
</article>
