<article class="post">
  <h1><a href="javascript:" ng-href="{{ post.link }}">{{ post.title }}</a></h1>
  <p>
    <a href="https://www.flickr.com/people/{{ post.author_id}}">Post author</a> |
    Published: {{ post.published | ordinalDate:"d MMMM yyyy 'at' H:mm" }}
  </p>
  <picture>
    <img src="{{ post.media.m }}"/>
  </picture>
  <div>
    <div ng-bind-html="post.description" class="description">
    </div>
    Tags:
    <a ng-repeat="tag in post.tags" href="https://www.flickr.com/search?text={{ tag }}">
      {{ tag }}
    </a>
  </div>

  <a href="#/">Back</a>
</article>
